<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'contact.css' %}">

        <link rel="shortcut icon" type="image/png" href="/static/icon.jpg">
        <title>Contactar</title>
    </head>
    <body class="home-body">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Mpa9000</a>
            <ul class="nav nav-pills">
                <a href="{% url 'home' %}">
                    <svg class="bi bi-caret-left-fill" width="2.8em" height="2.8em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                </a>
                &nbsp;
                <a href="{% url 'home' %}" role="button" aria-haspopup="true">
                    <li>
                        <svg class="bi bi-house-fill" width="2.5em" height="2.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg>
                    </li>
                </a>
                &nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link active">CONTACTAR</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Paginas</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'home' %}">HOME</a>
                        <a class="dropdown-item" href="{% url 'pages' %}">Todas las páginas</a>
                        <a class="dropdown-item">Contacta conmigo</a>
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Historias de internet</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'stories' %}">Historias</a>
                        </div>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://www.youtube.com/mpa9000" target="_blank">¡Mi canal de YouTube!</a>
                        <a class="dropdown-item" href="https://www.instagram.com/_marc_planas_/" target="_blank">¡Mi Instagram!</a>
                        <a class="dropdown-item" href="https://twitter.com/mpa_9000" target="_blank">¡Mi cuenta de Twitter!</a>
                        <a class="dropdown-item" href="https://www.facebook.com/mpa9000/?eid=ARBt00mUdxakYatcN7V-IzlTZSB8N6m0hbu1toi55YLSdrkgpDwkLHh23Foef1p40wcJMeDQ4jRHKIh7" target="_blank">¡Mi cuenta de Facebook!</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Contacta conmigo.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true">Hola, {{request.user}}.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Salir</a>
                </li>
            </ul>
        </nav>
        &nbsp;
            <table class="contact-table">
                <tr>
                    <td class="general-info">
                        <section class="general-info-section">
                            <h2 class="general-info-h3">¿Cómo contactar conmigo?</h2>
                        </section>
                        &nbsp;
                        <p class="general-text-info-p">Podéis contactar conmigo a través de muchas plataformas. La
                            recomendada y a la cual estaré más pendiente, es vía correo electrónico. Aun así, si por
                            algún motivo no respondo, no se os envía bien el correo, o sucede cualquier otra cosa, podéis
                            contactar conmigo a través de las redes sociales, mencionadas en distintos puntos en la
                            web. Recomiendo que me enviéis mensajes al DM de instagram, correos electrónicos o
                            comentarios en YouTube. Aun que os doy las otras dos opciones, no estaré ni tan activo ni
                            tan atento.</p>
                        &nbsp;
                        <ul>
                            <li class="general-info-li">
                                <p class="general-info-link">Podéis enviarme un correo electrónico a la dirección: ideasmpa9000@gmail.com.
                                    <a class="text-link" target="_blank" href="https://www.gmail.com">GMAIL</a></p>
                            </li>
                            <li class="general-info-li">
                                <p class="general-info-link">Podéis enviarme un DM a esta cuenta de instagram: @_marc_planas_.
                                    <a class="text-link" href="https://www.instagram.com/_marc_planas_/" target="_blank">INSTAGRAM</a></p>
                            </li>
                            <li class="general-info-li">
                                <p class="general-info-link">Podéis dejarme un comentario en YouTube, el canal es: /mpa9000.
                                    <a class="text-link" href="https://www.youtube.com/mpa9000" target="_blank">YOUTUBE</a></p>
                            </li>
                            <li class="general-info-li">
                                <p class="general-info-link">Podéis enviarme un mensaje a través de Facebook: /mpa9000.
                                    <a class="text-link" href="https://www.facebook.com/mpa9000/" target="_blank"> FACEBOOK</a></p>
                            </li>
                            <li class="general-info-li">
                                <p class="general-info-link">Podéis hacer un Tweet mencionándome, mi cuenta es: @mpa_9000.
                                    <a class="text-link" href="https://twitter.com/mpa_9000" target="_blank">TWEETER</a></p>
                            </li>
                        </ul>
                    </td>
                    <td class="title">
                        <h2 class="title-h2">Razones para contactar conmigo.</h2>
                        &nbsp;
                        <section class="info">
                            <p class="general-info-link">Cualquier razón es buena para que os pongáis en contacto conmigo,
                                si creéis que podéis aportar cosas útiles a la pagina web, como ideas para la misma,
                                ideas para YouTube... También podéis reportar cualquier bug, fallo de la web u otro usuario.</p>
                            <p class="general-info-link">Estaré muy agradecido de que os pongáis en contacto conmigo.
                                Cualquier critica será bien recibida, al igual que cualquier idea o aportación.</p>
                            <p class="general-info-link">También mencionaros que si cualquier de vosotr@s sabe de programación
                                web, HTML, PyThon o django y quiere aportar algo a la web también se puede poner en contacto
                                conmigo.</p>
                        </section>
                        &nbsp;
                    </td>
                </tr>
            </table>
        &nbsp;&nbsp;
        <img src="/static/white-img.jpg" style="width:100%;height:5px;">
        <section class="bottom-info">
            &nbsp;
            <section class="pages-links-section" style="">
                <table>
                    <tr>
                        <td>
                           <h5>Páginas:</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><a href="{% url 'register' %}">Register</a> (solo si no tienes una cuenta)</li>
                                <li><a href="{% url 'singin' %}">Login</a> (solo si no has iniciado sesion)</li>
                                <li><a href="{% url 'home' %}">HOME</a> (estas aquí)</li>
                                <li><a href="{% url 'contact' %}">Contactar con la STAFF</a> (para contactar con nosotros)</li>
                                <li><a href="{% url 'pages' %}">Todas las páginas</a></li>
                                <li><a href="{% url 'stories' %}">Historias de internet</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </section>
        </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    </body>
</html>